@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body.sistema-login {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1.login-header {
    color: #00254F;
    margin-bottom: 20px;
}

.input-group.login-input-group {
    margin-bottom: 15px;
}

.btn-submit.login-submit-button {
    background-color: #00254F;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.footer.login-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
