{% extends 'base.html' %}

{% block content %}
    <section class="terminos">

        <h1>Términos y Condiciones</h1>
        <p>Los presentes Términos y Condiciones regulan el uso de la plataforma web y los servicios ofrecidos por la Universidad Católica San Stelman (UCSS). Al utilizar este sitio web, aceptas cumplir con estos términos. Si no estás de acuerdo con alguno de ellos, te recomendamos no utilizar la plataforma.</p>

        <h2>1. Aceptación de los términos</h2>
        <p>Al acceder y utilizar este sitio web, aceptas y te comprometes a cumplir con los términos y condiciones aquí descritos, así como cualquier otra política de la UCSS aplicable. Estos términos pueden ser modificados en cualquier momento, y cualquier cambio será publicado en esta misma página.</p>

        <h2>2. Uso del sitio web</h2>
        <p>El uso de la plataforma está permitido únicamente para fines académicos, administrativos y personales relacionados con los servicios que ofrece la UCSS. No se permite el uso de la plataforma para actividades ilícitas, ofensivas o que puedan causar daños a terceros o a la institución.</p>

        <h2>3. Derechos de propiedad intelectual</h2>
        <p>Todo el contenido disponible en este sitio web, incluyendo textos, imágenes, videos, gráficos, logotipos, y otros materiales, es propiedad de la UCSS o de terceros que han otorgado permiso para su uso. Está prohibida la reproducción, distribución o modificación de cualquier contenido sin el consentimiento expreso del titular de los derechos.</p>

        <h2>4. Enlaces a terceros</h2>
        <p>Este sitio web puede contener enlaces a otros sitios de internet que no son propiedad ni están controlados por la UCSS. No nos hacemos responsables por el contenido, las políticas de privacidad o las prácticas de dichos sitios de terceros. El uso de enlaces externos es bajo tu propio riesgo.</p>

        <h2>5. Responsabilidad</h2>
        <p>La UCSS no será responsable de los daños o perjuicios que puedan derivarse del uso indebido de este sitio web o de cualquier servicio vinculado. La institución no garantiza que el sitio funcione de manera ininterrumpida o libre de errores.</p>

        <h2>6. Modificaciones de los términos</h2>
        <p>La UCSS se reserva el derecho de modificar los presentes términos y condiciones en cualquier momento. Dichas modificaciones entrarán en vigor a partir de su publicación en el sitio web. Se recomienda revisar esta página periódicamente para estar al tanto de cualquier actualización.</p>

        <h2>7. Ley aplicable y jurisdicción</h2>
        <p>Estos términos y condiciones se rigen por las leyes de la República del Perú. Cualquier controversia que se derive de su interpretación o cumplimiento será sometida a los tribunales competentes de Arequipa, Perú.</p>

        <h2>8. Contacto</h2>
        <p>Si tienes alguna pregunta sobre estos Términos y Condiciones, puedes ponerte en contacto con nosotros a través del siguiente correo: <a href="mailto:desarrollobasado@gmail.com">desarrollobasado@gmail.com</a>.
    </section>
{% endblock %}